footer {
    background-color: $color-principal;
    .redes-sociales { 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
       
      } 
      & {
        
      }
     
      i{
        width: 80px;
        height: 100px;
        color: black;
      }
      .bi{ 
        font-size: 2em;
      }
    }
      
    .wpp{
        position: fixed ;
        bottom: 15%;
        right: 15%;
       
    }
    /*media queries*/
    @media (min-width:768px) {
       @include navegador;
    }
    
    @media (min-width:1024px){ 
       @include navegador;
      @include contenedor;
    }