footer {
    .redes-sociales {
        height: 50px;
        min-width: 50px;
          margin-inline-start: 20px;
          border-radius: 40%;
    }  
    }
    .wpp{
        position: fixed ;
        bottom: 15%;
        right: 15%;
       
    }
    /*media queries*/
    @media (min-width:768px) {
        header{
        .header_nav {
            display: block;
            position: static;
            height: auto;
            width: auto;
            justify-content: space-between;
            gap: 20px;
            background-color: #185418c5;
        }
        .header_nav-list{
            flex-direction: row;
            height: auto;
            width: auto;
            gap: 20px;
            margin-right: 40px;}
            .header_open-nav-button {
                display: none;
            }
    
        .contenedor {
            grid-template-columns:repeat(4,1fr) ;
        }
    } }
    
    
    @media (min-width:1024px){ 
        header{
        .header_nav {
            display: block;
            position: static;
            height: auto;
            width: auto;
            justify-content: space-between;
            gap: 20px;
            background-color: #185418c5;
    
        }
    
    .header_nav-list{
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 20px;
        margin-right: 80px;
    }
    .header_open-nav-button {
        display: none;
    }
        .contenedor {
            grid-template-columns:repeat(4,1fr);
      
    }
    }
}