@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
h2{
    text-align: center;
    animation-duration: 5s;
    animation-name: aparecer;
    animation-iteration-count: infinite;  
}
.parrafo-nosotros{
    text-align: center;
    text-decoration: solid;
}
.gato-amarillo{
    
    width: 100%;
    height: 400px;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
}
.col{
    width: 20%;
    height: 20%;
   
}
.card-body{
    width: 100%;
    height: 100%;
    
}


