.card-body{
    display: grid;
    grid-auto-rows: 70px;
    padding:10px;
    grid-gap:10px;
 }
 .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;

 &:hover{
    opacity: 0.74;}
   }
   h5{
    font-style: italic;
      text-align: center;
      background-color: $color-principal;
   }